.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  align-items: center;
}

.todo-text {
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

.todo-title {
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(#00b8e6, #057cc7);
  /* border-radius: 0px 0px 30px 30px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.todo-list-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.todo-mui-dropdown {
  color: white;
}

/* .todo-list-dropdown-select {
  width: 120px;
} */

.todo-list-dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.todo-list-dropdown-button {
  border: none;
  font-weight: bold;
  /* background-image: linear-gradient(#00b8e6, #057cc7); */
  background-color: transparent;
  color: white;
  border-radius: 10px;
  padding: 5px 5px 35px 5px;
  margin: 12px 0 0 5px;
  font-size: 14px;
}

.todo-list-dropdown-add {
  min-width: 50px;
}

.todo-list-dropdown-edit {
  margin-top: 12px;
}

.todo-list-dropdown-trash {
  margin-top: 12px;
  margin-right: 4px;
}

.todo-footer {
  background-image: linear-gradient(#00b8e6, #057cc7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.todo-filters-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: -1;
  top: 75px;
  background-color: #a8d3e3;
  margin-top: 5px;
  margin-left: 8px;
  /* padding-bottom: 5px; */
}

.todo-list {
  overflow: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.todo-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 2px;
  min-height: 30px;
  margin: 7px 3px 0 3px;
  flex-grow: 1;
  text-align: start;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-task-priority-tab {
  border-radius: 8px;
  align-self: stretch;
  padding: 4px;
}

.green {
  background-color: #34eb5b;
}

.orange {
  background-color: orange;
}

.red {
  background-color: #e33071;
}

.completed {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through;
}

.todo-task-name {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  max-width: calc(100vw - 110px); /* 100% of screen width - space needed for buttons/checkboxes */
  margin: 0 auto 3px 8px;
  justify-self: center;
  align-self: center;
  overflow-wrap: break-word;
}

.todo-task-checkbox {
  margin: 11px 0px 13px 10px;
  width: 13px;
  min-width: 13px;
  height: 13px;
}

.todo-item-buttons-container {
  min-width: 55px;
  /* border: solid 1px red; */
  margin: 0 0 0 5px;
}

.todo-button {
  height: 30px;
  color: white;
  background-image: linear-gradient(#00b8e6, #057cc7);
  border: none;
  border-radius: 10px;
  font-size: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 12px 2px 12px 0;
}

.todo-icon {
  height: 30px;
}

.todo-edit-button {
  color: #165ACF;
  background: none;
  border: none;
  /* margin: 12px 0 12px auto; */
}

.todo-delete-button {
  color: #a6287a;
  background: none;
  border: none;
  margin: 12px 2px 12px 0;
}

.loading-spinner {
  margin: 30px auto auto auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 50%;
  animation: spin 0.4s linear infinite;
}

.empty-placeholder {
  color: white;
}