.App {
  text-align: center;
}

.todo-text {
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

.todo-title {
  font-size: 35px;
  font-weight: bold;
  background-image: linear-gradient(#00b8e6, #057cc7);
  margin: 0px 0px 10px 0px;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 0 10px 0;
  align-self: center;
}

.todo-button {
  background-image: linear-gradient(#00b8e6, #057cc7);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0 0 10px 0;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.todo-task {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 8px;
  padding: 2px;
  margin: 7px 3px 0 3px;
  flex-grow: 1;
  text-align: start;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-task-name {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  /* width: 260px; */
  max-width: 73%;
  margin: 0 auto 3px 8px;
  /* border: solid 1px black; */
  justify-self: center;
  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todo-task-checkbox {
  margin: 15px 0px 13px 10px;
  width: 13px;
  min-width: 13px;
  height: 13px;
}

.todo-item-buttons-container {
  min-width: 55px;
  /* border: solid 1px red; */
  margin: 0 0 0 5px;
}

.todo-edit-button {
  color: #4994bf;
  background: none;
  border: none;
  /* margin: 12px 0 12px auto; */
}

.todo-delete-button {
  color: #a6287a;
  background: none;
  border: none;
  margin: 12px 2px 12px 0;
}

.todo-add-button {
  color: white;
  background: none;
  background-image: linear-gradient(#00b8e6, #057cc7);
  border-radius: 30%;
  border: none;
  font-size: 23px;
  padding-top: 6px;
  margin: 13px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}