.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-close-button {
    color: white;
    background: none;
    border: none;
    /* margin: 0px 0 12px 0; */
}

.modal-confirm-button {
    border: none;
    font-weight: bold;
    background-image: linear-gradient(#00b8e6, #057cc7);
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 10px 0 0;
    font-size: 14px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.modal-cancel-button {
    border: none;
    font-weight: bold;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
    /* margin: 0 0 10px 5px; */
    font-size: 14px;
}

.modal-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 8px;
    padding: 2px;
    min-height: 30px;
    margin: 7px 3px 0 3px;
    flex-grow: 1;
    text-align: start;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-email-delete-button {
    color: #a6287a;
    background: none;
    border: none;
    margin: 12px 2px 12px 0;
}

.modal-shared-email-list {
    overflow: auto;
    /* padding-top: 15px; */
    /* margin-bottom: 60px; */
}

.modal-email-name {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    /* max-width: calc(100vw - 110px); 100% of screen width - space needed for buttons/checkboxes */
    max-width: 250px;
    margin: 0 auto 3px 8px;
    justify-self: center;
    align-self: center;
    overflow-wrap: break-word;
}

.modal-shared-email-list-button-container {
    min-width: 55px;
    /* border: solid 1px red; */
    justify-content: center;
    text-align: center;
    margin: 0 0 0 5px;
}

.body {
    display: flex;
    height: 152px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modal-input {
    width: 200px;
}

.title {
    margin: 0;
}

.content {
    width: 330px;
    max-width: 100%;
    height: 280px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #fff;
}

.header {
    padding: 17px 10px;
    background-color: #00b8e6;
    text-align: start;
    color: white;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    /* padding: 10px; */
    margin: 10px;
    text-align: end;
}



